<div class="sub-banner container">
  <%= render 'layouts/share/banner' %>
  <div class="flag">
    <%= link_to image_tag('flag', class: 'sub-flag'), locale:"vn" %>
    <%= link_to image_tag('england', class: 'sub-flag'), locale:"en" %>
  </div>
</div>
<% if current_user.present? %>
  <% if current_user.admin == 2 %>
    <%= render 'layouts/share/menu_admin' %>
  <% elsif current_user.admin == 1 %>
    <%= render 'layouts/share/menu_teacher' %>
  <% elsif current_user.admin == 0 %>
    <%= render 'layouts/share/menu_student' %>
  <% end %>
<% end %>
