
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <%= link_to("#{current_user.name}", edit_user_path,  class: "nav-link") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to('Courses', register_course_path,  class: "nav-link", id: "course") %>
      </li>
      <li class="nav-item">
        <%= link_to('My course', user_register_course_path,  class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to('Week calendar', student_timetable_path,  class: "nav-link") %>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Setting
      </a>
      <div class="dropdown-menu">
         <%= link_to('Profile', profile_path,  class: "dropdown-item") %>
         <%= link_to('ChangePassword', edit_user_registration_path,  class: "dropdown-item") %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
      </div>
    </li>
    <li id='search'>
      <div class="search-container">
        <form action="">
          <input type="text" placeholder="Search.." name="search" class="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </li>
    </ul>
  </div>
</nav>
<br>
