<!DOCTYPE html>
<html>
  <head>
    <title>Rollcall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
  <%= javascript_pack_tag 'places', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>

    <% end %>
    <% if current_user.present? %>
      <%= current_user.email %>
       <%= link_to('Logout', destroy_user_session_path, method: :delete) %>     
    <% end %>
    <%= yield %>
    <%= include_gon %>
  </body>
</html>
